# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/

# 3DGS Specific
data/
output/
output_test/
output_v2/
*.ply
*.zip
*.pt
*.ckp

# Submission
test_submission/
test_pose_list.txt

# System
.DS_Store
.vscode/